// #B6D6F2
// #57AAF2

.corpo,
.rodape {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.corpo {
    position: absolute;
    top: 25%;
    left: 1%;
    z-index: 2;
    width: 92%;
    padding: 20px;
    text-align: left;
}

h1 {
    color: white;
    margin-bottom: 0;
    background-color: #57AAF2;
    width: 59%;
    padding: 20px;
    border-radius: 5px;
    transition: width 1s;
    font-family: LemonMilk;
}

h1:hover {
    width: 25%;
    transition: width 1s;
}

#start-text {
    color: white;
    background-color: #57AAF2;
    border-radius: 5px;
    width: 17%;
    padding: 10px;
    position: absolute;
    top: 185%;
    left: 43%;
    text-align: center;
    transition: border-radius 0.5s, transform 0.5s, box-shadow 0.5s;
    font-family: LemonMilk;
}

#start-text:hover {
    border-radius: 50px;
    background-color: #57AAF2;
    box-shadow: 2px -2px #37748c;
    transform: translate(1px, 5px) scale(1.5, 1.5);
    transition: border-radius 0.5s, transform 0.5s, box-shadow 0.5s;
}

p {
    color: white;
    font-family: Leaners;
    font-size: x-large;
    margin: 0;
    margin-left: 5px;
    width: 150%;
}

@font-face {
    font-family: Leaners;
    src: url('../../assets/fonts/Letters\ for\ Learners.ttf');
}

@media screen and (min-width: 200px) and (max-width: 600px) {
    h1 {
        font-size: 20px;
        width: 60%;
    }

    #start-text {
        width: 27%;
        top: 200%;
        left: 35%;
    }

    .corpo {
        top: 15%;
    }
}