<div class="corpo-rodape">
    <div class="redes-rodape">
        <div class="itens-rodape" id="git">
            <p>Git</p>
            <img id="img-git" src="../../../assets/Imagens/github.png" alt="git">
        </div>
        <div class="itens-rodape" id="linkedin">
            <p>Linkedin</p>
            <img src="../../../assets/Imagens/linkedin.png" alt="linkedin">
        </div>
        <div class="itens-rodape" id="whatsapp">
            <p>WhatsApp</p>
            <img src="../../../assets/Imagens/whatsapp.png" alt="whatsapp">
        </div>
    </div>
</div>