<div class="conteudo">
    <div class="conteudo-texto">
        <h1 class="titulo">Alef Sousa</h1>
        <p>
        Además, las empresas sostenibles suelen ser más eficientes en sus procesos y 
        pueden llegar a reducir costes a largo plazo. Asimismo, al adoptar un enfoque
        sostenible, las empresas pueden mejorar su reputación, atraer talento y 
        fidelizar a sus clientes.
        <br><br>
        ## ¿Cómo implementar la sostenibilidad en tu empresa?
        <br><br>
        Si estás interesado en adoptar prácticas sostenibles en tu empresa, aquí te 
        dejamos algunos consejos para empezar:
        <br><br>
        1. Realiza un análisis de tu impacto ambiental actual y establece objetivos de 
        mejora.
        <br><br>
        2. Implementa medidas para reducir el consumo de recursos y la generación de 
        residuos.
        <br><br>
        3. Promueve el uso de energías renovables y la eficiencia energética en tus 
        instalaciones.
        <br><br>
        4. Involucra a tus empleados en iniciativas sostenibles y fomenta una cultura 
        empresarial responsable.
        </p>
    </div>
    <img id="img-escritorio" src="../../assets/Imagens/Home_Office.jpg" alt="Escritorio">
</div>